<footer class="site-footer">
<p>
    Suivez-moi <a href="{{ "/feed.xml" | relative_url }}">via RSS</a><br>
    Contenu sous <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">CC BY-SA 4.0</a> · Code source sous <a href="{{ "/LICENCE.txt" | relative_url }}">licence MIT</a>, <a href="https://gitlab.com/robinmetral-websites/robinmetral.com">disponible sur Gitlab</a>
</p>
</footer>
