<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href"{{ "/assets/favicon/favicon-perso.ico" | relative_url }}">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="{{ "/assets/favicon/favicon-perso.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
    {%- if jekyll.environment == 'production' and site.google_analytics -%}
        {%- include google-analytics.html -%}
    {%- endif -%}
</head>
