<header class="site-header">
    <span class="site-title">{{ site.title | escape }}
        <span class="site-tagline">{% if page.tagline %}{{ page.tagline }}{% else %}{{ site.tagline }}{% endif %}</span>
    </span>
    <nav class="site-nav">
        <!-- Jekyll can now sort on custom page key -->
        {% assign pages = site.pages | sort: "weight" %} 
        {% for p in pages %}
            {% if p.menu == "menu" %} <!-- Display only pages with "menu" in front matter -->
                <a 
                    class="page-link{% if p.url == page.url %} active{% endif %}"
                    href="{{ site.baseurl }}{{ p.url }}">
                    {% if p.menutitle %}{{ p.menutitle }}
                    {% else %}{{ p.title }}{% endif %}
                </a>
                <span class="invisible-slash">|</span>
            {% endif %}
        {% endfor %}
    </nav>
</header>
