/* Import partials */
@import "import/syntax-highlighting";
@import "import/fonts";


/* Color and font variables */
/* Colors */
$primary-color-1: #b6deb1; /* Pastel green */
$primary-color-2: #a3c4d9; /* Pastel blue */
$accent-color: #e5755c; /* Pastel red */
$black: #222; /* Nearly black */
$white: #fff; /* Might chnge this to nearly white later */
$dark-gray: #404040; /* Dark gray */
$light-gray: #eaeaea; /* Light gray */
/* Fonts */
$text-font: "Roboto", "Tebuchet MS", Helvetica, sans-serif;
$heading-font: "RobotoSlab", "Courier New", Courier, monospace;
/* Default text size and spacing */
$text-font-size: 18px;
$line-height: 30px;

html {
    /* Because body can only be as high as html */
    height: 100%;
}

body {
    padding: 40px 50px;
    margin: 0;
    /* For left border to cover entire browser height */
    min-height: 100%;
    box-sizing: border-box; /* Include padding in div dimensions to prevent border overflowing */
    width: 60%; /* Change for responsiveness */
    font-family: $text-font;
    font-size: $text-font-size;
    line-height: $line-height;
}

a {
    color: $accent-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

figure img {
    display: block;
    margin: 0 auto;
    border: 10px solid $light-gray;
}

figure figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

h1 {
	font-size: 40px;
    line-height: 50px;
}

    .post-content h1 {
        font-size: 34px;
        line-height: 40px;
    }

.site-title {
	font-weight: bold;
	margin: 0 0 5px 0;
	font-family: $heading-font;
    font-size: $text-font-size + 1px; /* Fix site title font smaller than nav font */
}

.site-tagline {
    color: $primary-color-1;
}

.site-nav {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.page-link {
	text-decoration: none;
	padding: 0 10px;
    color: $dark-gray;
}

.page-link.active {
    text-decoration: underline;
}

.page-link:hover {
    text-decoration: underline;
}

/* Fixing the left padding for the first nav link */
.page-link:first-child {
	padding-left: 0;
}

/* Hiding the separator after the two last links */
.invisible-slash:last-child {
    visibility: hidden;
}

main {
	margin: 50px 0 50px 0;
}

div.post-list {
    margin: 0 -5px 0 -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

    a.post-link {
        display: block;
        color: $black;
        text-decoration: none;
        background-color: $light-gray;
        margin: 5px;
        flex: 1;
        min-width: 250px;
        padding: 20px;
    }

        a.post-link:hover h3 {
            text-decoration: underline;
        }

    /* Remove strong and em styling in post excerpts */
    .post-link strong, .post-link em {
        font-weight: normal;
        font-style: normal;
    }

.post.h-entry .post-header { /* Header only in blog articles */
    margin-bottom: 50px;
    position: relative; /* For bottom border */
    padding-bottom: 10px; /* Spacing from bottom border */
}

    /* Bottom border */
    /* https://stackoverflow.com/a/12801460/7770081 */
    .post.h-entry .post-header::after {
        content: "";
        background: $black; /* Border color */
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px; /* Border width */
        width: 20px; /* Border length */
    }

    /* Spacing between post title and post date */
    header.post-header h1.post-title {
        margin-bottom: 5px;
    }
    header.post-header p.post-meta {
        margin: 0;
    }

code {
    background-color: $light-gray;
    padding: 0 3px;
    font-size: 14px;
    font-family: Courier, monospace;
}

pre {
    padding: 10px;
    line-height: 18px;
    background-color: $light-gray;
    
}

pre > code {
    background-color: transparent; /* Fix weird light-gray overlay */
}

blockquote {
    margin: 0;
    padding-left: 10px;
    border-left: 10px solid $light-gray;
}

footer.site-footer {
	margin-top: 50px;
    color: $dark-gray;
    position: relative; /* For top border */
    padding-top: 10px; /* Spacing from top border */
}

footer.site-footer p:first-child {
    margin-top: 0; /* Reinitialize spacing from top border */
}

    /* Top border */
    /* https://stackoverflow.com/a/12801460/7770081 */
    footer.site-footer::after {
        content: "";
        background: $black; /* Border color */
        position: absolute;
        top: 0;
        left: 0;
        height: 1px; /* Border width */
        width: 20px; /* Border length */
    }
