/* Roboto */

@font-face {
    font-family: "Roboto";
    src:
        url("fonts/roboto-light-webfont.woff") format("woff"),
        url("fonts/roboto-light-webfont-woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        url("fonts/roboto-lightitalic-webfont.woff") format("woff"),
        url("fonts/roboto-lightitalic-webfont-woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src:
        url("fonts/roboto-medium-webfont.woff") format("woff"),
        url("fonts/roboto-medium-webfont-woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        url("fonts/roboto-mediumitalic-webfont.woff") format("woff"),
        url("fonts/roboto-mediumitalic-webfont-woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

/* Roboto Slab */

@font-face {
    font-family: "RobotoSlab";
    src:
        url("fonts/robotoslab-regular-webfont.woff") format("woff"),
        url("fonts/robotoslab-regular-webfont-woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
