---
layout: default
title: Blog
list_title: Articles récents 
---

<article class="post">
    <header id="post-header">
        <h1 class="post-title">{{ layout.title }}</h1>
    </header>
    <div class="post-content">
    {{ content }}
    </div>
    <div class="blog">
    {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">{{ layout.list_title | default: "Posts" }}</h2>
        <div class="post-list">
            {%- for post in site.posts -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
                <article>
                    <time class="dt-published" datetime="{{ post.date | html5date }}">{{ post.date | frenchDate }}</time>
                    <h3>{{ post.title | escape }}</h3>
                    {{ post.excerpt }}
                </article>
            </a>
            {%- endfor -%}
        </div>
    {%- else -%}
        <p>Your posts will appear here! Start writing :)</p>
    {%- endif -%}
    </div>
</article>
