<!DOCTYPE html>
<html lang="fr">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="site-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

{%- include footer.html -%}

</body>

</html>
